ul{
        list-style: none;
        width: 40%;
    }
    li{
        border: 2px solid #e7e7e7;
        background-color: #eee;
        padding: 3px;
        margin-top: 5px;
    }
    .completed{
        border: 2px solid #f00;
        background-color: #edd3e3;
    }
    .completedCount{
        color : red
    }
    .sortColumn {
        background-color: lightblue;
    }