<!DOCTYPE html>
<html lang="en" data-ng-app>
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
    ul{
        list-style: none;
        width: 40%;
    }
    li{
        border: 2px solid #e7e7e7;
        background-color: #eee;
        padding: 3px;
        margin-top: 5px;
    }
    li.completed{
        border: 2px solid #f00;
        background-color: #edd3e3;
    }
    .completedCount{
        color : red
    }
    </style>
	<script src="scripts/angular.js"></script>
	
	<script>
    function taskController($scope){
        $scope.tasks = {
            personal : [],
            official : [],
            recreational : []
        };
        
        $scope.addTask = function(taskName, taskCategory){
            var newTask = {
                name : taskName,
                isCompleted : false
            };
            $scope.tasks[taskCategory].push(newTask);
        }
        $scope.toggleCompletion = function(task){
            task.isCompleted = !task.isCompleted;
        }
        $scope.removeCompleted = function(){
            /*var oldTasks = $scope.tasks;
            $scope.tasks = [];
            angular.forEach(oldTasks, function(value){
                if (!value.isCompleted)
                    $scope.tasks.push(value);
            }); */
            for(var category in $scope.tasks){
                var taskList = $scope.tasks[category];
                for(var i=taskList.length-1;i>=0;i--){
                    if (taskList[i].isCompleted)
                        taskList.splice(i,1);
                }
            }
        }
        $scope.getTotalCount = function(){
            var count = 0;
            for(var category in $scope.tasks)
                count += $scope.tasks[category].length;
            return count;
        };
        $scope.getCompletedCount = function(){
            var completedCount = 0;
            for(var category in $scope.tasks){
                angular.forEach($scope.tasks[category], function(value){
                    if (value.isCompleted)
                        ++completedCount;
                });
            }
            return completedCount;
        }
    }
    </script>
</head>
<body data-ng-controller="taskController">
	<h1>Task Manager - [<span class="completedCount">{{getCompletedCount()}}</span>/<span>{{getTotalCount()}}</span>]
</h1>
	<hr>
	<div>
	    <label for="txtTask">Task :</label>
	    <input type="text" data-ng-model="newTask">
	    <select data-ng-model="taskCategory">
	        <option value="personal">Personal</option>
	        <option value="official">Official</option>
	        <option value="recreational">Recreational</option>
	    </select>
	    <input type="button" value="Add Task" id="btnAdd" data-ng-click="addTask(newTask, taskCategory)">
	    <input type="button" value="Remove Completed" data-ng-click="removeCompleted()">
	    <div data-ng-repeat="(category,taskList) in tasks">
            <h3>{{category}}</h3>
	        <ul>
                <li 
                data-ng-repeat="task in taskList" 
                data-ng-click="toggleCompletion(task)"
                data-ng-class="{completed : task.isCompleted}"
                >{{task}}</li>
            </ul>    
	    </div>
	    
	</div>
</body>
</html>